* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(250, 229, 0, 0.481);
  padding: 40px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container h1 {
  margin-bottom: 25px;
  font-size: 2.3rem;
}

.minions-grid {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.minion-card {
  background-color: rgb(27, 44, 122);
  width: 240px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(150, 165, 255, 0.3);
  text-align: center;
  color: white;
}

.minion-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.minion-card h2 {
  margin-bottom: 12px;
}

.btn-change {
  background-color: rgb(57, 94, 255);
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(108, 138, 255, 0.667);
  transition: 0.2s;
  border: none;
  margin-top: 10px;
}

.btn-change:hover {
  background-color: rgb(0, 170, 255);
  box-shadow: 0 0 15px rgb(214, 219, 235);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.input-box input {
  height: 32px;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 16px;
}

.btn-accept {
/*   background-color: rgb(53, 65, 245); */
  background-color: rgba(250, 243, 44, 0.985);
  padding: 8px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.btn-accept:hover {
/*   background-color: rgb(0, 150, 80); */
  background-color: rgb(0, 170, 255);
  box-shadow: 0 0 15px rgb(214, 219, 235);
}