.ppal{
    background-color: antiquewhite;
    width: 80vw;
    height: 100vh;
}
.hijo{
    border: 1px solid #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}