header{
    width: 100vw;
    height: 60px;
    background-color: rgb(121, 178, 243);
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .image{
        background-color: aliceblue;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
}