.mini{
    border: 1px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 90%;
    }
}