.form-ppal{
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 15px;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: rgb(232, 185, 247);
}