*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery-top {
  display: flex;
  max-width: 990px;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  /* margin-bottom: 20px; */
  margin: 0 auto 20px auto;
  justify-content: center;
}

.gallery-top-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery-container{
  width: 100%;
  /* max-width: fit-content; */
  margin: auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-top {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.photo-top:hover {
  transform: scale(1.05);
}

.selected-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.photo-selected {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.photo-selected:hover {
  transform: scale(1);
}

.buttons-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttons-container button {
  padding: 10px 18px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  background-color: rgb(58, 210, 241);
}

.buttons-container button:hover {
  background-color: rgb(69, 160, 73);
}

.bigpic-frame {
  width: 100%;
  max-width: 600px;
  height: 350px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(224, 223, 223);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigpic {
  max-width: 95%;
  max-height: 95%;
  border-radius: 10px;
}