.card{
    width: 200px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{width: 90%;}
}
.cont-frut{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}