*{
  background-color: #93e1e3;
}

.bingo-app {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #006d72;
  border-radius: 10px;
  text-align: center;
  background-color: #3381b1;
}

.numeros-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  padding: 50px;
}

.numeros-container button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
}

.numeros-container button:hover {
  background-color: #3381b1;
  color: #f7f9f9;
  transform: scale(1.15);
  box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
}

.btn-generarNumero {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-reset {
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
}


