.bool-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.card{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img{width: 50%;}
}